<main class="page__main">

    <div class="main__searcher">

        <h1>Escribe el nick de una usuaria de Github</h1>

        <div class="main__searcher-box">
            <label for="userName"></label>
            <input type="text" id="userName" name="userName" class="main__input" placeholder="patatita">
            <button class="main__btn">Buscar</button>
        </div>
        
    </div>

    <div class="main__result">

        <ol class="result__list">

        </ol>

    </div>

</main>
